{% extends 'base.html.twig' %}

{% block title %}Mes fiches recettes | Nutriforma
{% endblock %}

{% block content %}

	<div class="container-block mt-5 pt-5">
		<h1>Mes fiches recettes</h1>
	</div>
{% endblock %}
